 <%= form_with url: login_path, local: true, class: "user" do |f| %>
  <div class="form-group">
    <%= f.email_field :email, class: "form-control form-control-user", placeholder: t(:email_address) %>
  </div>
  <div class="form-group">
    <%= f.password_field :password, class: "form-control form-control-user", placeholder: t(:password)  %>
  </div>
  <%= f.submit t(:login), class: "btn btn-primary btn-user btn-block" %>
<% end %>
